<div class="Float-left Choose-oponent">
	<div class="perso">
		
			<%= image_tag(@avatarPerso1.img_path, class: "fighter-ready ") %>
		<div class="row">
			<div class="col-xs-12">
				
			</div>
			<div class="col-xs-4">
				
			</div>
			<div class="col-xs-4">
				
			</div>
			<div class="col-xs-4">
				
			</div>
		</div>
	</div>
</div>
<div class="Float-right Choose-oponent">
	<div class="perso">
		
			<%= image_tag(@avatarPerso2.img_path, class: "fighter-ready ") %>
		
	</div>
</div>
