/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Carnaval';
    src: url('/assets/fonts/CarnevaleeFreakshow.ttf') format('truetype');
}

 @font-face {
    font-family: 'Alpha';
    src: url('/assets/fonts/AlphaWood.ttf') format('truetype');
}
*{
  color:#FEE;
  text-shadow:0 2px 2px #000;

}

h4{
	font-size: 3em;
	color: #222;
}
h5{
	font-size: 24px;
	color: #111;
	text-shadow:0 0 3px #FF0000;
}
input{
	background-color: rgba(100,100,100, 0.4);
}

.img-avatar{
	 border-radius: 50%;
	 max-width: 250px;
	 max-height: 350px;
	 display: inline;

	 border: 3px  solid  #832;
}

.img-armes{
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
 	max-width: 100%;
 	max-height: 100%;
 	display: inline;

}

.img-armes-show{
	 max-width: 250px;
	 max-height: 350px;
	 display: inline;
}
body{
padding:0;margin:0;
background: url(/assets/rute/monde/worldd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

margin: 0;
}

.well{
	background-color: rgba(78, 18, 20, 0.3);
	border: 1px solid #333;
	
}
.btn-create{
	background-color: rgba(70, 120, 200, 0.5);
	border: 2px solid #111;
	border-radius: 5px;
	color: #CCC;
	font-size: 20px;
	font-style: bold;
	margin-bottom: 30px;

}
.btn-default{
	background-color: rgba(210, 210, 210, 0.5);
}
.welcome-title{
	text-align: center;
	font-size: 3em;
	font-family: 'Alpha';
}

.ranger-value{
	display: inline;
	font-size: 2em;
	padding-left: 42%;
	color: #111;
}

.add-equip{
  width: 100%;
}

.arme_choice , .perso_choice{
  width: 150px;
  height:  150px;

}
.fight-button{
  background-color: rgba(0,0,0,0);
  position: fixed;
}
.fight-ready{
      -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.selected-perso, .persoselected{
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  border:  3px dotted black;
}
.selected{
  background-color: #888;
}
.armure, .arme1, .arme2, .fighter-ready{
  max-width: 100%;
  max-height: 300px;
}

.img-avatar-arme-showperso{
  width: 100%;
}

.Float-left {
  float: left;
}
.Float-right {
  float: right;
}
.Float-right img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.modal-dialog{
  margin-top: 125px;
}

.Choose-oponent{
  width: 33%;
}


input[type=text-area]{
	background-color: rgba(200, 200, 200, 0.5);
}
input[type=text]{
	background-color: rgba(200, 200, 200, 0.5);
}

textarea {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.2px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.99), 0px 0px 1px rgba(13, 13, 13, 0.99);
  background: rgba(146, 87, 70, 0.5);
  border-radius: 6.2px;
  border: 0.7px solid rgba(86, 36, 37, 0.7);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 3px rgba(120, 34, 0, 0.53), 0px 0px 1px rgba(146, 41, 0, 0.53);
  border: 2.2px solid rgba(87, 39, 0, 0.7);
  height: 39px;
  width: 19px;
  border-radius: 29px;
  background: rgba(86, 60, 64, 0.62);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(163, 97, 78, 0.5);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.99), 0px 0px 1px rgba(13, 13, 13, 0.99);
  background: rgba(146, 87, 70, 0.5);
  border-radius: 6.2px;
  border: 0.7px solid rgba(86, 36, 37, 0.7);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 3px rgba(120, 34, 0, 0.53), 0px 0px 1px rgba(146, 41, 0, 0.53);
  border: 2.2px solid rgba(87, 39, 0, 0.7);
  height: 39px;
  width: 19px;
  border-radius: 29px;
  background: rgba(86, 60, 64, 0.62);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(129, 77, 62, 0.5);
  border: 0.7px solid rgba(86, 36, 37, 0.7);
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.99), 0px 0px 1px rgba(13, 13, 13, 0.99);
}
input[type=range]::-ms-fill-upper {
  background: rgba(146, 87, 70, 0.5);
  border: 0.7px solid rgba(86, 36, 37, 0.7);
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.99), 0px 0px 1px rgba(13, 13, 13, 0.99);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 3px rgba(120, 34, 0, 0.53), 0px 0px 1px rgba(146, 41, 0, 0.53);
  border: 2.2px solid rgba(87, 39, 0, 0.7);
  height: 39px;
  width: 19px;
  border-radius: 29px;
  background: rgba(86, 60, 64, 0.62);
  cursor: pointer;
  height: 12.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(146, 87, 70, 0.5);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(163, 97, 78, 0.5);
}


/* FIGHT */
meter{
  width: 100%;
}
.avatar-arme-fighter{
  width: 100%;
  background-image: url('/assets/background-sky.png');
  background-size: 150% 140%;
}