// Place all the styles related to the arena controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{padding:0;margin:0;
background-image: url(/assets/rute/monde/world.jpg); 
background-repeat: none;
background-size: 100%;
margin: 0;
}

input{
	background-color: rgba(100,100,100, 0.4);
}